<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.IntegradorII"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".vista.mascota.RegisterPet"
            android:exported="false" />
        <activity
            android:name=".vista.mascota.PetProfile"
            android:exported="false" />
        <activity
            android:name=".vista.UserProfile"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCEN-Dy7BxK_p93gyRsGXVsl9Gn0e5CsCE" />

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".vista.usuario.ActulizarUsuario"
            android:exported="true" />
        <activity
            android:name=".vista.Consejos"
            android:exported="true" />
        <activity
            android:name=".vista.Home"
            android:exported="true" />
        <activity
            android:name=".vista.Login"
            android:exported="true" />
        <activity
            android:name=".vista.post.PosAdopcion"
            android:exported="true" />
        <activity
            android:name=".vista.usuario.Register"
            android:exported="true" />
        <activity
            android:name=".vista.Ubicacion"
            android:exported="true" />
        <activity
            android:name=".vista.vacunas.Vacunas"
            android:exported="true" />
        <activity
            android:name=".vista.Verificar"
            android:exported="true" />
        <activity
            android:name=".vista.usuario.Usuario"
            android:exported="true" />
        <activity
            android:name=".vista.mascota.Mascota"
            android:exported="true" />
        <activity
            android:name=".vista.mascota.ActulizarMascota"
            android:exported="true" />
        <activity
            android:name=".vista.post.ActulizarPost"
            android:exported="true" />
        <activity
            android:name=".vista.mascota.InfoMascota"
            android:exported="true" />
        <activity
            android:name=".vista.mascota.RegistroMascota"
            android:exported="true" />
        <activity
            android:name=".vista.post.RegistrarPost"
            android:exported="true"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".vista.vacunas.ActuactualizarVacuna"
            android:exported="true" />
        <activity
            android:name=".vista.vacunas.RegistroVacuna"
            android:exported="true" />
    </application>

</manifest>